context.txt
__pycache__/audio_processing.cpython-37.pyc
*.pyc
*.log
text-q/*
.DS_Store
uv.lock
vox_biblios/.env.local
vox_biblios.egg-info/dependency_links.txt
vox_biblios.egg-info/entry_points.txt
vox_biblios.egg-info/PKG-INFO
vox_biblios.egg-info/requires.txt
vox_biblios.egg-info/SOURCES.txt
vox_biblios.egg-info/top_level.txt
.env.local
